<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0">
    <div id="navbar">
      <h2>Stupid coaching</h2>
      <div class="links">
        <%= link_to "Home", root_path, class: "link" %>
        <%= link_to "Ask a new question", ask_path, class: "link" %>
      </div>
    </div>
    <div style="margin: 16px">
      <%= yield %>
    </div>

  </body>
</html>
